<!DOCTYPE html>

<!--[if lte IE 8]>
<html class="lt-ie8"><![endif]-->
<!--[if IE 9]>
<html class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <title>Valet</title>
    <link href="/css/valet.css" rel="stylesheet"/>
</head>
<body>
<div class="content bordered">
    <div th:replace="fragments::header">Header</div>

    <div class="clean clearfix">
        <div class="add-form bordered">
            <div th:replace="fragments::addNoteForm"></div>
        </div>
        <div class="accounts-list bordered">
            <table th:if="${!#lists.isEmpty(accounts)}">
                <thead>
                <tr>
                    <td th:text="#{common.actions}">Actions</td>
                    <td th:text="#{accounts.bankname}">Bank</td>
                    <td th:text="#{accounts.amount}">Amount</td>
                    <td th:text="#{accounts.rate}">Rate</td>
                    <td th:text="#{accounts.expire}">Expire</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account : ${accounts}">
                    <td>
                        <a th:href="@{/accounts/delete(id=${account.id})}" th:text="#{common.delete}">Delete</a>
                    </td>
                    <td th:text="${account.bankname}">TCS</td>
                    <td th:text="${account.amount}">100000</td>
                    <td th:text="${account.rate} + '%'">10%</td>
                    <td th:text="${account.expire}">31-12-2010</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="footer bordered">Footer</div>
</div>
<script src="/js/lib/jquery-2.1.0.js"></script>
<script src="/js/valet.js"></script>
</body>
</html>