<!DOCTYPE html>

<!--[if lte IE 8]>
<html class="lt-ie8"><![endif]-->
<!--[if IE 9]>
<html class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <title>Valet</title>
    <link href="/css/valet.css" rel="stylesheet"/>
</head>
<body>
<div class="content bordered">
    <div th:replace="fragments::header">Header</div>

    <div class="clean clearfix">
        <div class="add-form bordered">
            <div th:replace="fragments::addNoteForm"></div>
        </div>
        <div class="accounts-list bordered">
            <table th:if="${!#lists.isEmpty(events)}">
                <thead>
                <tr>
                    <td th:text="#{events.name}">Event</td>
                    <td th:text="#{events.place}">Place</td>
                    <td th:text="#{events.date}">Date</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.name}">Event name</td>
                    <td th:text="${event.place}">Event place</td>
                    <td th:text="${event.date}">31-12-2010</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="footer bordered">Footer</div>
</div>
<script src="/js/lib/jquery-2.1.0.js"></script>
<script src="/js/valet.js"></script>
</body>
</html>