<!DOCTYPE html>

<!--[if lte IE 8]>
<html class="lt-ie8"><![endif]-->
<!--[if IE 9]>
<html class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <title>Valet</title>
    <link href="/css/valet.css" rel="stylesheet"/>
</head>
<body>
<div class="content bordered">
    <div th:replace="fragments::header">Header</div>

    <div class="clean clearfix">
        <div class="add-form bordered">
            <div th:replace="fragments::addNoteForm"></div>
        </div>
        <div class="accounts-list bordered">
            <table th:if="${!#lists.isEmpty(expenses)}">
                <thead>
                <tr>
                    <td th:text="#{expenses.name}">Expense</td>
                    <td th:text="#{expenses.category}">Category</td>
                    <td th:text="#{expenses.amount}">Amount</td>
                    <td th:text="#{expenses.created}">Date</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="expense : ${expenses}">
                    <td th:text="${expense.name}">Expense name</td>
                    <td th:text="${expense.category}">Expense category</td>
                    <td th:text="${expense.amount}">100</td>
                    <td th:text="${expense.created}">31-12-2010</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="footer bordered">Footer</div>
</div>
<script src="/js/lib/jquery-2.1.0.js"></script>
<script src="/js/valet.js"></script>
</body>
</html>