<div class="header clearfix bordered" th:fragment="header">
    <div class="menu-item">
        <a class="without-underline" href="#" th:href="@{/notes/}">Notes</a>
    </div>
    <div class="menu-item">
        <a class="without-underline" href="#" th:href="@{/contacts/}">Contacts</a>
    </div>
    <div class="menu-item">
        <a class="without-underline" href="#" th:href="@{/lists/}">Lists</a>
    </div>
    <div class="menu-item">
        <a class="without-underline" href="#" th:href="@{/tasks/}">Tasks</a>
    </div>
    <div class="menu-item">
        <a class="without-underline" href="#" th:href="@{/reminders/}">Reminders</a>
    </div>
</div>