<!DOCTYPE html>

<!--[if lte IE 8]>
<html class="lt-ie8"><![endif]-->
<!--[if IE 9]>
<html class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
    <title>Valet</title>
    <link href="/css/valet.css" rel="stylesheet"/>
</head>
<body>
<div class="login-form bordered">
    <form id="loginForm" action="/login" method="post" accept-charset="UTF-8">
        <input id="username" name="username" class="bordered" type="text" th:attr="placeholder=#{login.username}"/>
        <input id="password" name="password" class="bordered" type="password" th:attr="placeholder=#{login.password}"/>
    </form>
</div>
<script src="/js/lib/jquery-2.1.0.js"></script>
<script src="/js/valet.js"></script>
</body>
</html>