<html>
<head>
    <title>Valet</title>
    <link href="/css/valet.css" rel="stylesheet"/>
</head>
<body>
<div class="content">
    <form id="addNoteForm" action="add" method="post">
    Title <input type="text" id="title" name="title"/>
                Content <input type="text" id="content" name="content"/>
                <input type="submit"/>
            </form>
            <table>
                <thead>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Created</th>
                </thead>
                <tr th:each="note : ${notesList}">
                    <td th:text="${note.title}"/>
                    <td th:text="${note.content}"/>
                    <td th:text="${note.created}"/>
                </tr>
            </table>
        </div>
<script src="/js/lib/jquery-2.1.0.js"></script>
<script src="/js/valet.js"></script>
</body>
</html>