<!DOCTYPE html>

<!--[if lte IE 8]>
<html class="lt-ie8"><![endif]-->
<!--[if IE 9]>
<html class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <title>Valet</title>
    <link href="/css/valet.css" rel="stylesheet"/>
</head>
<body>
<div class="content bordered">
    <div class="header block bordered">Header</div>

    <div class="add-form column bordered">
        <form id="addNoteForm" action="add" method="post">
            <input id="noteTags" name="noteTags" class="input bordered" type="text" placeholder="Tags"/>
            <textarea id="noteContent" name="noteContent" class="input bordered" rows="2" cols="19"
                      placeholder="Content"></textarea>
            <input class="input bordered" type="submit" value="Add"/>
        </form>
    </div>
    <div class="note-list column bordered">
        <div th:remove="tag" th:if="${!#lists.isEmpty(notes)}" th:each="note : ${notes}">
            <div class="note">
                <span class="compact"><a class="without-underline" href="#" th:href="@{/notes/delete(id=${note.id})}">
                    &#10006;</a></span>
                <span class="compact" th:text="${note.content}">Note content</span>
                <span th:remove="tag" th:if="${!#lists.isEmpty(note.tags)}" th:each="tag : ${note.tags}">
                    <span class="compact bordered">
                        <a class="without-underline" href="#" th:href="@{/notes/tag(id=${tag.id})}"
                           th:text="${tag.name}">Some tag</a>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="tag-list column bordered">
        <div th:remove="tag" th:if="${!#lists.isEmpty(tags)}" th:each="tag : ${tags}">
            <div class="compact">
                <a href="#" th:href="@{/notes/tag(id=${tag.id})}" th:text="${tag.name}">Some tag</a>
            </div>
        </div>
    </div>
    <div class="footer block bordered">Footer</div>
</div>
<script src="/js/lib/jquery-2.1.0.js"></script>
<script src="/js/valet.js"></script>
</body>
</html>