<!DOCTYPE html>

<!--[if lte IE 8]>
<html class="lt-ie8"><![endif]-->
<!--[if IE 9]>
<html class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <title>Valet</title>
    <link href="/css/valet.css" rel="stylesheet"/>
</head>
<body>
<div class="content bordered">
    <div th:replace="fragments::header">Header</div>

    <div class="clearfix clean">
        <div class="add-form bordered">
            <div th:replace="fragments::addNoteForm"></div>
        </div>
        <div class="tasks-list bordered">
            <table th:if="${!#lists.isEmpty(tasks)}">
                <thead>
                <tr>
                    <td th:text="#{tasks.name}">Description</td>
                    <td th:text="#{tasks.created}">Created</td>
                    <td th:text="#{tasks.estimate}">Estimate</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.name}">Task name</td>
                    <td th:text="${task.created}">01-01-2000</td>
                    <td th:text="${task.estimate}">31-12-2001</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="footer bordered">Footer</div>
</div>
<script src="/js/lib/jquery-2.1.0.js"></script>
<script src="/js/valet.js"></script>
</body>
</html>