body {
    font-family: "Arial";
    font-size: 0.8em;
}

div, p, h1, h2, h3 {
    margin: 10px;
    padding: 0;
}

input {
    margin: 10px;
    padding: 5px;
}

/* Main page */
.content {
    margin-top: 50px;
}

.clean {
    padding: 0;
    margin: 0;
}

.compact {
    padding: 1px 3px;
    margin: 5px;
}

.note {
    margin: 15px 5px;
}

.bordered {
    border: 1px solid gray;
    border-radius: 5px;
}

.content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 0;
    margin-bottom: 0;
}

.add-form {
    float: left;
    width: 250px;
    margin-right: 0;
}

.add-form input {
    display: block;
    outline: none;
    width: 220px;
}

.note-list {
    float: left;
    min-height: 86px;
    width: 454px;
    margin-right: 0;
}

.note-list input {
    display: block;
    outline: none;
    width: 424px;

}

.tag-list {
    float: left;
    min-height: 86px;
    width: 150px;
}

.footer {
    padding: 10px;
    margin-top: 0;
}

.right {
    float: right;
}

.without-underline {
    text-decoration: none;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.menu-item {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    width: 132px;
    border-right: solid 1px gray;
    text-align: center;
}

.menu-item:last-child {
    border: none;
}

/* Login page */

.login-form {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
}