body {
    margin: 0;
    padding: 0;
    text-align: left;
    color: #333;
    background: #cdcdcd;
    font: 75% verdana, arial, tahoma, sans-serif;
}

.content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}