body {
    font-family: "Arial";
    font-size: 0.8em;
}

div, p {
    margin: 10px;
    padding: 0;
}

input {
    margin: 10px;
    padding: 5px;
}

.clean {
    padding: 0;
    margin: 0;
}

.compact {
    padding: 1px 3px;
    margin: 5px;
}

.note {
    margin: 15px 5px;
}

.bordered {
    border: 1px solid gray;
    border-radius: 5px;
}

.content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 10px;
    margin-bottom: 0;
}

.add-form {
    float: left;
    width: 250px;
    margin-right: 0;
}

.add-form input {
    display: block;
    outline: none;
    width: 220px;
}

.note-list {
    float: left;
    min-height: 86px;
    width: 454px;
    margin-right: 0;
}

.note-list input {
    display: block;
    outline: none;
    width: 424px;

}

.tag-list {
    float: left;
    min-height: 86px;
    width: 150px;
}

.footer {
    padding: 10px;
    margin-top: 0;
}

.right {
    float: right;
}

.without-underline {
    text-decoration: none;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
